body {
  margin: 0;
  padding: 0;
}
.container {
  background-image: url(https://placeimg.com/640/480/any);
  background-size: 100%;
  height: 500px;
  
  .text-container {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    text-align: center;
    opacity: 0;
    h1 {
      padding-top: 150px;
      // padding: 20px;
    }
    p {
      width: 70%;
      margin: auto;
    }
    &:hover {
      opacity: 1;
      transition: opacity 1s;
      transform: scale(0.9);
      transition: transform 1s;
    }
  }
  &:hover {
    background-position: 50%;
    transition: background-position 1s;
  }

}
.ball {
  border-radius: 50%;
  background-color: violet;
  width: 50px;
  height: 50px;
  transition: background-color 2000ms;
}
.ball:hover {
  background-color: lightcoral;
}
.cat-animation {
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
  overflow: hidden;
  img {
    animation: catWalk 1s steps(12) infinite paused ;
    &:hover {
      animation-play-state: running;
    }
  }
  
  @keyframes catWalk {
    to {
      transform: translateY(-2400px);
    }
  }
}
.button-anime {
  padding: 15px;
  background-color: orange;
  color: white;
  &:hover {
    background-color: coral;
    transition: background-color 1s;
  }
}
.btn-cubic-bezier {
  padding: 15px;
  &:hover {
    padding-right: 10px;
    border-left: 5px solid green;
    transition: border-left 0.5s cubic-bezier(.35,-0.26,.43,1.32);
  }
}
.cards-container {
  text-align: center;
  padding: 20px;
  h3 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  button {
    padding: 20px;
    border: none;
    background-color: purple;
    color: white;
    margin: 20px auto;
    display: block;
    &:hover {
      ~ .card {
        opacity: 1;
      }
    }
  }
  .card {
    transition: opacity 1s;
    opacity: 0;
    width: 40%;
    margin: 10px;
    display: inline-block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    &:first-child {
      transition-delay: 0.3s;
    }
    &:last-child {
      transition-delay: 0.6s;
    }
    .card-img {
      height: 200px;
      img {
        height: 100%;
        width:100%;
      }
    }
    .card-description {
      padding: 10px;
    }
  }
}
.buttons-container {
  background-color: teal;
  padding: 20px;
  button {
    padding: 20px;
    border: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
  }
  #one {
    border: 3px solid transparent;
    background-color: #fff;
    color: teal;
    transition-property: border, background-color, color;
    transition-duration: 0.4s;
    &:hover {
      border: 3px solid #fff;
      background-color: transparent;
      color: #fff;
    }
  }
  #two {
    box-shadow: inset 0px 0px 15px #fff;
  }
}